/**
 * @fileOverview home
 * @date 2023-12-26
 * @author poohlaha
 */
.home {
  font-size: @font;

  .scroll-top {
    bottom: 1rem;
    right: 0.5rem;
    background: @background;
    box-shadow: 0 0.04rem 0.2rem 0 rgba(55,0,120,0.1);
    padding: 0.2rem;
    border-radius: 1rem;
  }

  .search-page {
    background: #ffffff !important;

    .search-box {
      margin: 0 0.4rem;

      .back {
        width: 0.5rem;
        height: 0.5rem;
        margin-right: 0.2rem;
      }
    }

    .history {
      padding: 0.4rem;

      .card-title {
        font-size: @font;

        .svg-box {
          width: 0.5rem;
          height: 0.5rem;
          cursor: pointer;

          .svg-icon {
            margin-right: 0 !important;
          }
        }
      }

      .card-content {
        .card-tag {
          font-size: @font_smallest;
          padding: 0.15rem 0.3rem;
          cursor: pointer;
        }
      }
    }
  }

  .search-box {
    height: 1.2rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;

    .search-bar {
      .search-bar-input-box {
        border-radius: 1rem;
        padding-left: 0.25rem;
        background: #f5f5f5;

        .svg-box {
          width: 0.4rem;
          height: 0.4rem;
        }

        .search-bar-input {
          margin-left: 0.15rem;

          input {
            font-size: @font_smaller;
            font-family: @font_PingFangSC_Medium;
            pointer-events: none;
            background: transparent;
          }
        }
      }
    }

    .search-right {
      margin-left: 0.25rem;

      .svg-box {
        width: 0.6rem !important;
        height: 0.6rem !important;

        .svg-icon {
          width: 100% !important;
          height: 100% !important;
          color: @color_svg;
        }
      }

      .svg-box:not(:last-child) {
        margin-right: 0.25rem;
      }
    }
  }

  .content {
    .adm-swiper {
      .adm-swiper-item {
        .name {
          position: absolute;
          left: 0.25rem;
          bottom: 0.25rem;
          color: #ffffff;
          font-size: @font;
          font-family: @font_PingFangSC_Medium;
          font-weight: 500;
        }
      }
    }

    .list-box {

      .item {
        margin-top: 0.4rem;
      }

      .list-title {
        font-weight: bold;
        font-family: @font_PingFangSC_Bold;
        font-size: @font_larger;
      }

      .list {
        flex-wrap: wrap;

        .card {
          margin: 0 0.2rem 0.4rem 0;
          flex: 0 0 calc((100% - 0.4rem) / 3);

          .card-top {
            position: relative;
            height: 4.2rem;

            img {
              border-radius: @border_radius;
            }

            .name {
              z-index: 10;
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 0.8rem;
              font-size: @font_smallest;
              color: #ffffff;
              font-family: @font_PingFangSC_Medium;
            }
          }

          .title {
            margin-top: 0.2rem;
            height: 0.5rem;
            font-size: @font_smallest;
            // width: 100%;
            width: 2.8rem;
            padding: 0 0.2rem;

            p {
              // width: 80%;
            }
          }
        }

        .card:nth-child(3n) {
          margin-right: 0 !important;
        }
      }
    }
  }

  .page-box {
    .no-data-box {
      flex: 1;
    }
  }

  .recommend {
    .no-data-box {
      width: 100%;
      height: 100%;
    }
  }
}

.home,
.rank {
  .adm-pull-to-refresh {
    width: 100%;
    height: 100%;

    .adm-pull-to-refresh-content {
      width: 100%;
      height: 100%;

      .page-swiper， .list-box {
        padding: 0.2rem 0.4rem 0.4rem 0.4rem;
      }
    }
  }

  .content {
    .adm-tabs {
      width: 100% !important;

      .adm-tabs-content {
        padding-bottom: 0 !important;
      }
    }

    .swiper-tab-content-box {
      height: calc(100% - 1.2rem) !important;
      overflow: hidden;

      .adm-swiper-slide {
        height: 100%;
      }

      .banner {
        .adm-swiper-slide {
          height: 100%!important;
        }
      }

      .adm-swiper-item.swiper-box {
        overflow-x: hidden;
        overflow-y: auto;
      }

    }
  }
}

.rank, .home {
  .adm-pull-to-refresh-content {
    padding: 0 0.4rem 0.4rem 0.4rem;
  }
}

.rank {
  .adm-pull-to-refresh-content {
    padding-top: 0.2rem!important;
  }
}

.rank,
.search-page {
  .page-content {

    .no-data-box {
      width: 100%;
      height: 100%;
    }
  }

  .list-box {
    .list-item {
      margin-top: 0 !important;
      padding: 0 !important;

      .item {
        height: 4.5rem;

        .item-left {
          width: 3rem;
          height: 100%;
          margin-right: 0.25rem;

          .adm-image {
            border-radius: @border_radius;
          }
        }

        .item-right {
          .card-title {
            font-size: @font_large;
          }

          .card-footer {
            border-top: unset !important;
            padding-top: 0.1rem !important;

            .card-tag {
              font-size: @font_smallest_much;
              padding: 0.15rem !important;
              border-radius: @border_radius!important;
            }

            .card-tag:last-child {
              margin-right: 0!important;
            }
          }
        }
      }

      .item {
        margin-top: 0 !important;
      }

      .item:last-child {
        padding-bottom: 0.4rem!important;
      }
    }
  }
}

.search-page {
  .list-box {
    .list-item {
      .item {
        height: 3.2rem !important;
        box-shadow: unset !important;
        border: unset !important;
        padding: 0 !important;
      }

      .item-left {
        width: 2rem !important;
      }
    }
  }
}
