// tabbar
.adm-tab-bar {
  background: @background;
  height: 1.5rem !important;
  border-top: @border;

  .adm-tab-bar-wrap {
    height: 100% !important;

    .adm-tab-bar-item {
      padding: 0.04rem 0.08rem !important;

      &.adm-tab-bar-item-active {
        .adm-tab-bar-item-title {
          color: @theme!important;
          font-family: @font_PingFangSC_Medium;
        }

        .adm-tab-bar-item-icon {
          color: @theme!important;
        }
      }

      .adm-tab-bar-item-title {
        font-size: @font_smallest_much!important;
        color: @color;
        margin-top: 0.2rem;
      }

      .adm-badge-wrapper {
        margin-bottom: 0.1rem;

        .adm-tab-bar-item-icon {
          width: 0.55rem !important;
          height: 0.55rem !important;
          color: @color_svg;

          .svg-icon {
            width: 100% !important;
            height: 100% !important;
          }
        }
      }
    }
  }
}

// searchbar
.adm-search-bar {
  height: 100% !important;

  &.adm-search-bar-active {

    .adm-search-bar-input-box {
      border-width: 0.03rem;

    }
  }

  .adm-search-bar-suffix {
    margin-left: 0.25rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      padding: 0.03rem 0.12rem;
      font-size: @font_small;
      color: @color_gray;
    }
  }

  .adm-search-bar-input-box {
    height: 100% !important;
    border-radius: 1rem;
    padding-left: 0.25rem;
    background: @background_gay!important;
    border: unset!important;

    .adm-search-bar-input-box-icon {
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 0.4rem;
        height: 0.4rem;
        color: @color_svg_gray;
      }
    }

    .adm-search-bar-input {
      height: 100% !important;
      margin-left: 0.15rem;
      padding: 0!important;

      input {
        caret-color: @theme!important;
        --caret-width: 0.1rem;
      }

      .adm-input-element {
        font-size: @font_smaller;
        height: 100% !important;
      }

      .adm-input-clear {
        svg {
          width: 0.4rem;
          height: 0.4rem;
          color: @color_svg;
        }
      }
    }
  }
}

// tabs
.adm-tabs {
  display: flex;
  flex-direction: column;

  .adm-tabs-header {
    height: 1.2rem;
    border-bottom: unset !important;

    .adm-tabs-tab-list {
      height: 100%;

      .adm-tabs-tab-line {
        width: 0 !important;
        height: 0 !important;
      }

      .adm-tabs-tab-wrapper {
        background: unset;

        .adm-tabs-tab {
          font-size: @font;
        }

        .adm-tabs-tab-active {
          font-family: @font_PingFangSC_Medium;
          font-size: @font_larger;
          color: @theme;
        }
      }
    }
  }

  .adm-tabs-content {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0.4rem;
  }
}

// swiper
.adm-swiper {
  height: 4.2rem;

  .adm-swiper-item {
    position: relative;

    img {
      border-radius: @border_radius;
    }
  }

  .adm-swiper-indicator {
    bottom: 0.15rem;

    .adm-page-indicator {
      display: flex;
      align-items: center;
    }

    .adm-page-indicator-dot {
      width: 0.1rem;
      height: 0.1rem;
      border-radius: 0.1rem;
      background: #ffffff;
      margin-right: 0.1rem;
    }

    .adm-page-indicator-dot-active {
      width: 0.3rem;
      height: 0.05rem;
      border-radius: unset;
      background: @theme;
    }
  }
}

// toast
.adm-toast-mask {
  .adm-toast-main {
    min-width: 1.8rem;
    max-width: 5rem;
    padding: 0.25rem;
    border-radius: @border_radius;

    .adm-toast-icon {
      font-size: 0.8rem;
      margin-bottom: 0.2rem;
    }

    .adm-auto-center {
      font-size: @font_smaller;
      text-align: center;
    }
  }
}

// swiper tabs
.swiper-tabs {
  .adm-tabs-header {
    height: 1rem;

    .adm-tabs-tab-list {
      .adm-tabs-tab-wrapper {
        flex: unset !important;
        padding: 0 0.4rem;
        background: unset;
        border-radius: 1rem;

        .adm-tabs-tab {
          font-size: @font_smaller!important;
        }

        .adm-tabs-tab-active {
          font-size: @font_smaller!important;
          color: @color_tab_color;
        }
      }

      .adm-tabs-tab-wrapper:not(:last-child) {
        margin-right: 0.25rem;
      }
    }
  }
}

// pull-to-refresh
.adm-pull-to-refresh {
  .adm-pull-to-refresh-head {
    .adm-pull-to-refresh-head-content {
      color: @color_gray_light;
      font-size: @font_smaller;
      height: 1.5rem !important;
    }
  }
}

// adm-infinite-scroll
.adm-infinite-scroll {
  span {
    font-size: @font_smaller;
  }
}

// adm-image
.adm-image {
  .adm-image-tip {
    svg {
      width: 1rem !important;
      height: 1rem !important;
    }
  }
}
